In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("hwanip_data.xlsx")
df

,계약번호,ca223kp00011249,생산번호,HSE 398476,차대번호,KNANC81BBPS398476
0,차명,카니발,상호,케이비캐피탈주식회사,성명,황**
1,지점/대리점,동부)고덕대리점,출하일,20231030,발생일,20231103
2,주행거리,8,부위구분,휀더,불량구분,도장
3,불량내용,"RH)리어 휀더 도장 이물질(15MM), RH)백도어 내부 실링 불량(15MM)",NaN,NaN,NaN,NaN

df1 column : 계약번호, 차명, 지점/대리점, 주행거리, 불량내용 (columns)
df2 column : 생산번호, 상호, 출하일, 부위구분, NaN
df3 column : 차대번호, 성명, 발생일, 불량구분, Nan

df4        : df1 + df2 + df3 (row방향으로)   ==> 이렇게 되면 row가 1개가 됨

In [3]:
df1 = df.iloc[:,:2].T.reset_index()
df2 = df.iloc[:,2:4].T.reset_index()
df3 = df.iloc[:,4:6].T.reset_index()
index_ = [0]

In [4]:
df1

,index,0,1,2,3
0,계약번호,차명,지점/대리점,주행거리,불량내용
1,ca223kp00011249,카니발,동부)고덕대리점,8,"RH)리어 휀더 도장 이물질(15MM), RH)백도어 내부 실링 불량(15MM)"

In [5]:
df111 = pd.DataFrame(columns=df1.iloc[0, :], index = index_, data=[df1.iloc[1, :].values])
print(df111)

0             계약번호   차명    지점/대리점  주행거리  \
0  ca223kp00011249  카니발  동부)고덕대리점     8

0                                          불량내용
0  RH)리어 휀더 도장 이물질(15MM), RH)백도어 내부 실링 불량(15MM)

In [6]:
df11 = pd.DataFrame(columns=df1.iloc[0, :], data=[df1.iloc[1, :].values])
df22 = pd.DataFrame(columns=df2.iloc[0, :], data=[df2.iloc[1, :].values])
df33 = pd.DataFrame(columns=df3.iloc[0, :], data=[df3.iloc[1, :].values])

In [7]:
df11

,계약번호,차명,지점/대리점,주행거리,불량내용
0,ca223kp00011249,카니발,동부)고덕대리점,8,"RH)리어 휀더 도장 이물질(15MM), RH)백도어 내부 실링 불량(15MM)"

In [8]:
df22

0        생산번호          상호       출하일 부위구분  NaN
0  HSE 398476  케이비캐피탈주식회사  20231030   휀더  NaN

In [9]:
df33

0               차대번호   성명       발생일 불량구분  NaN
0  KNANC81BBPS398476  황**  20231103   도장  NaN

In [10]:
df_final = pd.concat([df11,df22.iloc[:,:3]], axis = 1)
df_final = pd.concat([df_final,df33.iloc[:,:3]], axis =1)
df_final

,계약번호,차명,지점/대리점,주행거리,불량내용,생산번호,상호,출하일,차대번호,성명,발생일
0,ca223kp00011249,카니발,동부)고덕대리점,8,"RH)리어 휀더 도장 이물질(15MM), RH)백도어 내부 실링 불량(15MM)",HSE 398476,케이비캐피탈주식회사,20231030,KNANC81BBPS398476,황**,20231103

In [11]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   계약번호    1 non-null      object
 1   차명      1 non-null      object
 2   지점/대리점  1 non-null      object
 3   주행거리    1 non-null      int64
 4   불량내용    1 non-null      object
 5   생산번호    1 non-null      object
 6   상호      1 non-null      object
 7   출하일     1 non-null      int64
 8   차대번호    1 non-null      object
 9   성명      1 non-null      object
 10  발생일     1 non-null      int64
dtypes: int64(3), object(8)
memory usage: 220.0+ bytes